[submodule "deps/azure-c-shared-utility"]
	path = deps/azure-c-shared-utility
	url = https://github.com/Azure/azure-c-shared-utility.git
[submodule "deps/umock-c"]
	path = deps/umock-c
	url = https://github.com/Azure/umock-c.git
[submodule "deps/azure-ctest"]
	path = deps/azure-ctest
	url = https://github.com/Azure/azure-ctest.git
[submodule "deps/azure-c-testrunnerswitcher"]
	path = deps/azure-c-testrunnerswitcher
	url = https://github.com/Azure/azure-c-testrunnerswitcher.git
[submodule "deps/azure-macro-utils-c"]
	path = deps/azure-macro-utils-c
	url = https://github.com/Azure/azure-macro-utils-c.git
[submodule "deps/smhasher"]
	path = deps/smhasher
	url = https://github.com/hcoona/smhasher.git
[submodule "deps/azure-c-build-tools"]
	path = deps/azure-c-build-tools
	url = https://github.com/Azure/azure-c-build-tools.git
