[submodule "deps/umock-c"]
	path = deps/umock-c
	url = https://github.com/Azure/umock-c.git
[submodule "deps/smhasher"]
	path = deps/smhasher
	url = https://github.com/hcoona/smhasher.git
[submodule "deps/mimalloc"]
	path = deps/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "deps/c-build-tools"]
	path = deps/c-build-tools
	url = https://github.com/Azure/c-build-tools
[submodule "deps/macro-utils-c"]
	path = deps/macro-utils-c
	url = https://github.com/Azure/macro-utils-c
[submodule "deps/c-logging"]
	path = deps/c-logging
	url = https://github.com/Azure/c-logging
[submodule "deps/ctest"]
	path = deps/ctest
	url = https://github.com/Azure/ctest
[submodule "deps/c-testrunnerswitcher"]
	path = deps/c-testrunnerswitcher
	url = https://github.com/Azure/c-testrunnerswitcher
[submodule "deps/c-pal"]
	path = deps/c-pal
	url = https://github.com/Azure/c-pal
[submodule "deps/c-util"]
	path = deps/c-util
	url = https://github.com/Azure/c-util
